doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title mulv
		style
			!= css
	body.w-full.h-screen.flex.flex-col.justify-center.items-center.font-lato
		h1.text-5xl.font-bold.font-space mulv
		h2.text-xl #[strong.font-black M]inecraft #[strong.font-black U]UID #[strong.font-black L]ookup #[strong.font-black V]ercel