doctype html
html.sl-theme-dark(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title mulv
		style
			!= css
		include ../node_modules/shoelace-pug-loader/loader.pug
		- SLCDN.DIST = 'npm/@shoelace-style/shoelace@2.1.0/dist';
		+slTheme('dark')
		+slComponents('button','input','radio-group','radio')
	body.w-full.h-screen.flex-col.flex-center.font-lato.text-neutral-100.bg-neutral-900
		.max-w-md.flex-col.flex-center.p-8.rounded-2xl.bg-neutral-800
			h1.text-5xl.font-bold.font-space.mb-4 mulv
			h2.text-xl.text-neutral-200.mb-8 #[strong.font-black M]inecraft #[strong.font-black U]UID #[strong.font-black L]ookup #[strong.font-black V]ercel
			.flex-center.gap-4
				sl-input.w-56#name(placeholder='Username' clearable)
				sl-radio-group#radio-group(value='uuid')
					sl-radio(name='uuid' value='uuid') UUID
					sl-radio(name='skin' value='skin') Skin
			sl-button.mt-4(onclick='go();') Go

			script.
				const go =() => window.location.href = `https://mulv.tycrek.dev/api/lookup?username=${document.getElementById('name').value}&type=${document.getElementById('radio-group').value}`;
